<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rina.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="com.rina.domain.Menu">
		<id column="menu_id" jdbcType="BIGINT" property="menuId"/>
		<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
		<result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
		<result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
		<result column="menu_parent_id" jdbcType="BIGINT" property="menuParentId"/>
		<result column="menu_order_value" jdbcType="BIGINT" property="menuOrderValue"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>
	<delete id="deleteOneMenu" parameterType="java.lang.Long">
		delete
		from menu
		where menu_id = #{menuId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.rina.domain.Menu">
		insert into menu (menu_id, menu_name, menu_icon,
		                  menu_url, menu_parent_id, menu_order_value,
		                  create_by, create_time, update_by,
		                  update_time)
		values (#{menuId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR},
		        #{menuUrl,jdbcType=VARCHAR}, #{menuParentId,jdbcType=BIGINT}, #{menuOrderValue,jdbcType=BIGINT},
		        #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
		        #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateOneMenuByMenuId" parameterType="com.rina.domain.Menu">
		update menu
		set menu_name        = #{menuName,jdbcType=VARCHAR},
		    menu_icon        = #{menuIcon,jdbcType=VARCHAR},
		    menu_url         = #{menuUrl,jdbcType=VARCHAR},
		    menu_parent_id   = #{menuParentId,jdbcType=BIGINT},
		    menu_order_value = #{menuOrderValue,jdbcType=BIGINT},
		    create_by        = #{createBy,jdbcType=VARCHAR},
		    create_time      = #{createTime,jdbcType=TIMESTAMP},
		    update_by        = #{updateBy,jdbcType=VARCHAR},
		    update_time      = #{updateTime,jdbcType=TIMESTAMP}
		where menu_id = #{menuId,jdbcType=BIGINT}
	</update>
	<select id="getOneMenu" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select menu_id,
		       menu_name,
		       menu_icon,
		       menu_url,
		       menu_parent_id,
		       menu_order_value,
		       create_by,
		       create_time,
		       update_by,
		       update_time
		from menu
		where menu_id = #{menuId,jdbcType=BIGINT}
	</select>
	<select id="getAllMenus" resultMap="BaseResultMap">
		select menu_id,
		       menu_name,
		       menu_icon,
		       menu_url,
		       menu_parent_id,
		       menu_order_value,
		       create_by,
		       create_time,
		       update_by,
		       update_time
		from menu
	</select>

	<select id="findMenuById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select menu_id,
		       menu_name,
		       menu_icon,
		       menu_url,
		       menu_parent_id,
		       menu_order_value,
		       create_by,
		       create_time,
		       update_by,
		       update_time
		from menu
		where menu_id = #{menuId,jdbcType=BIGINT}
	</select>

	<select id="getNewestMenuId" resultType="java.lang.Long">
		select MAX(menu_id) from menu
	</select>
</mapper>