<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rina.mapper.MenuPermissionMapper">
	<resultMap id="BaseResultMap" type="com.rina.domain.MenuPermission">
		<id column="menu_id" jdbcType="BIGINT" property="menuId"/>
		<id column="permission_id" jdbcType="BIGINT" property="permissionId"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete
		from menu_permission
		where menu_id = #{menuId,jdbcType=BIGINT}
		  and permission_id = #{permissionId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.rina.domain.MenuPermission">
		insert into menu_permission (menu_id, permission_id, create_by,
		                             create_time, update_by, update_time)
		values (#{menuId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR},
		        #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.rina.domain.MenuPermission">
		update menu_permission
		set create_by   = #{createBy,jdbcType=VARCHAR},
		    create_time = #{createTime,jdbcType=TIMESTAMP},
		    update_by   = #{updateBy,jdbcType=VARCHAR},
		    update_time = #{updateTime,jdbcType=TIMESTAMP}
		where menu_id = #{menuId,jdbcType=BIGINT}
		  and permission_id = #{permissionId,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
		select menu_id, permission_id, create_by, create_time, update_by, update_time
		from menu_permission
		where menu_id = #{menuId,jdbcType=BIGINT}
		  and permission_id = #{permissionId,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select menu_id, permission_id, create_by, create_time, update_by, update_time
		from menu_permission
	</select>

	<select id="findPermissionByMenu" resultType="java.lang.Long">
		select permission_id
		from menu_permission
		<where>
			menu_id IN
			<foreach close=")" collection="list" item="id" open="(" separator=",">
				#{id,jdbcType=BIGINT}
			</foreach>
		</where>
	</select>
</mapper>