<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rina.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.rina.domain.Role">
		<id column="role_id" jdbcType="BIGINT" property="roleId"/>
		<result column="role_name" jdbcType="VARCHAR" property="roleName"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete
		from role
		where role_id = #{roleId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.rina.domain.Role">
		insert into role (role_id, role_name, create_by,
		                  create_time, update_by, update_time)
		values (#{roleId,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
		        #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.rina.domain.Role">
		update role
		set role_name   = #{roleName,jdbcType=VARCHAR},
		    create_by   = #{createBy,jdbcType=VARCHAR},
		    create_time = #{createTime,jdbcType=TIMESTAMP},
		    update_by   = #{updateBy,jdbcType=VARCHAR},
		    update_time = #{updateTime,jdbcType=TIMESTAMP}
		where role_id = #{roleId,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select role_id, role_name, create_by, create_time, update_by, update_time
		from role
		where role_id = #{roleId,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select role_id, role_name, create_by, create_time, update_by, update_time
		from role
	</select>

	<select id="findRoleNameById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select role_id, role_name, create_by, create_time, update_by, update_time
		from role
		where role_id = #{role_id,jdbcType=BIGINT}
	</select>

	<update id="updateEditorName" parameterType="java.lang.String">
		update role
		set create_by = #{newEditor,jdbcType=VARCHAR}
		where create_by = #{newEditor,jdbcType=VARCHAR};
		update role
		set update_by = #{newEditor,jdbcType=VARCHAR}
		where update_by = #{newEditor,jdbcType=VARCHAR};
	</update>
</mapper>